.header {
  background-color: blue;
  color: white;
  font-weight: bold;
}
.header_nav {
  display: flex;
  justify-content: flex-end;
}
.header_img {
  width: 80%;
  height: 40%;
  display: none;
}
.nav_item {
  padding: 10px;
}
.inputContainer {
  text-align: center;
  padding-top: 10px;
}
